<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode | default "en" }}" dir="{{ site.Language.LanguageDirection | default "ltr" }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="layout">
    {{ partial "sidebar.html" . }}
    <div class="main-wrap">
      <header class="site-header"></header>
      <main class="page">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
